<div class="background-new">
	<div class="page-title"><p class="title-text">投稿ページ</p></div>
<%= form_with(model: @post, local: true) do |f| %>
    <%= render partial: "post", locals: { f: f } %>
<% end %>
</div>

