/*application.html.erb*/
.header{
	background-image: url("wood.jpg");
	height: 60px;
	width: 100%;
	padding: 5px 0;
	display: flex;
	justify-content: space-between;
	position: fixed;
	z-index:10;
	-moz-box-shadow: 18px 12px 33px -18px rgba(48, 48, 48, 0.5);
	-webkit-box-shadow: 18px 12px 33px -18px rgba(48, 48, 48, 0.5);
	-ms-box-shadow: 18px 12px 33px -18px rgba(48, 48, 48, 0.5);
	box-shadow: 18px 12px 33px -18px rgba(48, 48, 48, 0.5);
}
.header-left{
	line-height: 60px;
	margin-left: 80px;
	display: flex;
	align-items: baseline;
}
.title{
	font-size: 20px;
	padding: 0 20px;
	transition-duration: 0.2s;
}
.title:hover{
	background-color: #f79f08;
	height: 50px;
	margin-top: 5px;
	border-radius: 10px;
}
.title-text{
	color: #945f05;
  font-family: '001Shirokuma-Regular';
}
.flash{
	margin-left: 30px;
	color: red;
}
.header-right{
	display: flex;
	padding-right: 20px;
}
.account-info{
	color: #945f05;
	display: flex;
	height: 60px;
	line-height: 60px;
	margin: 0 20px;
	padding: 0 15px;
	transition-duration: 0.2s;
}
.account-info:hover{
	background-color: #f79f08;
	height: 50px;
	margin-top: 5px;
	border-radius: 10px;
}
.profile-image{
	width: 30px;
	height: 30px;
	margin: 15px 15px 0 0;
	background-size: cover;
	background-position: center;
	border-radius: 3px;
}
.header-lists{
	display: flex;
}
.header-list{
	transition-duration: 0.2s;
	 list-style: none;
}
.header-list:hover{
	background-color: #f79f08;
	height: 50px;
	margin-top: 5px;
	border-radius: 10px;
}
.header-list-text{
	display: block;
	height: 60px;
	line-height: 60px;
	margin: 0 20px;
	padding: 0 10px;
	color: #945f05;
}
.header-list.post{
	display: block;
	height: 60px;
	line-height: 60px;
	margin: 0 20px;
	padding: 0 10px;
	transition-duration: 0.2s;
	background-color: #945f05;
	border-radius: 10px;
	color: #FFF6E6;
}
.header-list.post:hover{
	background-color: #ad6f06;
	height: 50px;
	margin-top: 5px;
}

/*index.html.erb*/
.top-view{
	background-color: #FFF6E6;
	background-image: url("213809_m.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 700px;
}
.catch-phrase{
	font-size: 70px;
	text-align: center;
	line-height: 700px
	/*letter-spacing: 0.4em; */
}
.main{
	padding: 50px 90px 90px 90px;
	background-color: #FFF6E6;
}
.search-box{
	display: flex;
	margin: 0 auto;
	margin-bottom: 50px;
	width: 600px;
	}
.search-input{
	height: 40px;
	width: 500px;
	font-size: 1.1em;
}
.search-btn{
	margin-left: 20px;
	background-color: #053a94;
	color: #FFF6E6;
	width: 100px;
	font-size: 1.1em;
}
.content{
	width: 80vw;
	margin: 0 auto;
	background-color: #F7A11E;
	display: flex;
	margin-bottom: 20px;
	border-radius: 20px;
	position: relative;
	-moz-box-shadow: 18px 12px 33px -18px rgba(48, 48, 48, 0.5);
-webkit-box-shadow: 18px 12px 33px -18px rgba(48, 48, 48, 0.5);
-ms-box-shadow: 18px 12px 33px -18px rgba(48, 48, 48, 0.5);
box-shadow: 18px 12px 33px -18px rgba(48, 48, 48, 0.5);
}
.content-left{
	width: 40%;
}
.content-title{
	background:rgba(217,210,210,0.5);
	height: 60px;
	font-size: 25px;
	line-height: 60px;
	padding-left: 20px;
	border-top-left-radius:20px;
}
.content-finished{
	/*background-image: url("P8220448rr.jpeg");*/
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	height: 350px;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
}
.content-right{
	width: 60%;
}
.content-created{
	padding: 10px;
	font-size: 18px;
}
.content-name{
	padding: 10px;
	font-size: 18px;
	
}
.content-intro{
	padding: 10px 40px 10px 10px;
	font-size: 18px;
	height: 220px;
}
.likes{
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}
.content-like-count{
	border: 2px solid #053a94;
	height: 40px;
	border-radius:20px;
	padding: 10px;
}
.content-like{
	position: absolute;
	right: 30px;
	border: 2px solid #053a94;
	height: 40px;
	border-radius:20px;
	padding: 10px;
}
.to-btn{
	position: absolute;
	background-color: #945f05;
	height: 70px;
	width: 70px;
	border-radius: 50px;
	text-align: center;
	line-height: 70px;
	color: #FFF6E6;
	-moz-box-shadow: 18px 12px 33px -18px rgba(48, 48, 48, 0.5);
	-webkit-box-shadow: 18px 12px 33px -18px rgba(48, 48, 48, 0.5);
	-ms-box-shadow: 18px 12px 33px -18px rgba(48, 48, 48, 0.5);
	box-shadow: 18px 12px 33px -18px rgba(48, 48, 48, 0.5);
}
.to-btn:hover{
	background-color: #ad6f06;
}
.to-edit{
	top: 45px;
	right: -35px;
}
.to-show{
	top: 245px;
	right: -35px;
}
.to-delete{
	top: 275px;
	right: -35px;
	background-color: #053a94;
}
.to-delete:hover{
	background-color: #074dc5;
}

/*show.html.erb*/
.show-main{
	padding: 60px 0;
	background-color: #FFF6E6;
}
.container{
	margin: 0 auto;
	width: 600px;
	padding-top: 30px;
	
}
.show-wrapper-left{

}
.show-title{
	text-align: center;
	font-size: 30px;
}
.show-finished{
	margin-top: 30px;
	height: 400px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 10px;
	position: relative;
}
.name-created{
	display: flex;
	justify-content: center;
	align-items: baseline;
}
.show-img{
	width: 30px;
	height: 30px;
	margin: 0 15px 0 0;
	background-size: cover;
	background-position: center;
	border-radius: 3px;
}
.show-name{
	font-size: 20px;
	margin-top: 20px;
}
.show-created{
	margin-left: 100px;
}
.content-like-btn{
	background-color: #053a94;
	height: 40px;
	border-radius:20px;
	padding: 10px;
	color: #FFF6E6;
	cursor: pointer;
}
.content-like-btn:hover{
	background-color: #074dc5;
}
.suggest{
	padding-top: 20px;
	font-weight: bold;
}
.show-wrapper-right{
}
.show-intro{
	padding-top: 30px;
	width: 600px;
}
.show-heading-title{
	background-color: #de8f07;
	margin-top: 30px;
	font-family: serif;
	color: #FFF6E6;
	padding: 10px;
	border-radius: 10px;
}
.show-content{
	padding-top: 10px;
}
.comment-input{
	width: 600px;
	font-size: 16px;
	padding: 5px;
}
.comments{
	margin: 0 auto;
	background-color: #fff;
	width: 550px;
	border: 1px solid gray;
	border-radius: 10px;
	padding: 10px;
}
.comment-btn{
	width: 500px;
	height: 40px;
	margin: 10px 50px;
	border-radius: 5px;
	background-color: #053a94;
	color: #FFF6E6;
}
.comments-title{
	text-align: center;
	padding: 10px;
}
.comment{
	border-bottom: 1px solid #de8f07;
	padding: 10px;
	line-height: 27px;
}
/*sign-up sign-in page*/
.background{
	background-color: #FFF6E6;
	height: 800px;
	padding: 60px;
}
.sign-container{
	background-color: #fff;
	width: 600px;
	margin: 0 auto;
	padding: 30px;
}
.sign-title{
	font-size: 30px;
	padding: 30px;
	text-align: center;
}
.form{
	border-bottom: 2px solid brown
}
.form-control{
	margin: 0 auto;
	width: 400px;
	display: block;
	font-size: 20px;
	height: 60px;
}

#btn{
	margin-top: 30px;
	background-color: #F7A11E;
	color: #FFF6E6;
	border-radius: 10px;
}
.links{
	color: #de8f07;
	display: block;
	margin: 5px;
}
/*投稿ページ　new.html.erb*/
.page-title{

	padding: 30px 0 20px 0;
}
.title-text{
text-align: center;
font-size: 30px;
}
.background-new{
	background-color: #FFF6E6;
	padding: 60px 0;
}
#post-btn{
	position: absolute;
	position: fixed;
	background-color: #945f05;
	height: 70px;
	width: 70px;
	border-radius: 50px;
	text-align: center;
	line-height: 70px;
	color: #FFF6E6;
	top: 100px;
	right: 20%;
	border:none;
	font-size: 20px;
	-moz-box-shadow: 18px 12px 33px -18px rgba(48, 48, 48, 0.5);
	-webkit-box-shadow: 18px 12px 33px -18px rgba(48, 48, 48, 0.5);
	-ms-box-shadow: 18px 12px 33px -18px rgba(48, 48, 48, 0.5);
	box-shadow: 18px 12px 33px -18px rgba(48, 48, 48, 0.5);
}
#post-btn:hover{
	background-color: #ad6f06;
}

/*search.html.erb*/
.main-search{
	padding: 120px 90px 90px 90px;
	background-color: #FFF6E6;
}